.container{
  width: 100%;
  background-color: #fff;
}

.title{
  margin: 20px;
}

.container h2{
  text-align:left;
}

.container .title{
  text-align: center;
  font-size: 40px;
  font-family: 'Josefin Sans', 'Noto Sans JP',serif;
  margin-bottom: 20px;
  font-weight:normal;
}

.comment{
  width: 100%;
  background-color: #fff;
  margin-top:20px;
  padding: 20px;
  box-sizing: border-box;
}

#contents{
  box-sizing: border-box;
}
