.container{
  width: 60%;
  position: relative;
  left: 16.5%;
  background-color: #fff;
}

.container .desctiption{
  padding: 20px;
}

.title{
  margin: 20px;
}

.container h2{
  text-align:left;
}

.container .title{
  text-align: center;
	font-size: 40px;
  font-family: 'Josefin Sans', 'Noto Sans JP',serif;
	margin-bottom: 20px;
	font-weight:normal;
}

