/* article
------------------------------------------------------------*/
#contents_sec{
  width: 70%;
  position: relative;
  left: 15%;
  background: #fff
}

.container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.article_card{
  width: 25%;
  padding: 5px;
  box-sizing: border-box;div
  background-clip: content-box;
  background: #ffa;
}

.article_card img{
  width: 100%;
  height: auto;
}

.article_card .article_text{
  color: #000;
  white-space:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.article_card .article_date{
  text-align: right;
}

